name: JS Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: JS Tests
    runs-on: ubuntu-slim
    permissions:
      contents: read
    defaults:
      run:
        working-directory: js
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        cache: npm
        cache-dependency-path: js/package-lock.json
    
    - name: npm ci
      run: npm ci
    
    - name: npm run test:ci
      run: npm run test:coverage
    
    - name: Upload coverage reports
      uses: codecov/codecov-action@v5
      with:
        files: ./js/coverage/lcov.info
        flags: js
        name: js-coverage
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
    
    - name: npm run lint
      run: npm run lint
    
    - name: npm run format:check
      run: npm run format:check
