name: JS Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: JS Tests
    runs-on: ubuntu-slim
    permissions:
      contents: read
    defaults:
      run:
        working-directory: js
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        cache: pnpm
        cache-dependency-path: js/pnpm-lock.yaml
    
    - name: Install pnpm
      run: npm install -g pnpm
    
    - name: pnpm install
      run: pnpm install --frozen-lockfile
    
    - name: pnpm test
      run: pnpm test
    
    - name: pnpm run lint
      run: pnpm run lint
    
    - name: pnpm run format:check
      run: pnpm run format:check
